*.nc filter=lfs diff=lfs merge=lfs -text

# produced with git lfs track (fdfind --extension .json --size +500KiB)
test_data/cth_like_fixed_bdy/funct3d_geometry/funct3d_geometry_00025_000001_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/metric/metric_00025_000120_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy_nzeta_37/funct3d_geometry/funct3d_geometry_00025_000001_01.cth_like_fixed_bdy_nzeta_37.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/forces/forces_00015_000002_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/jacobian/jacobian_00015_000001_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/lulv_comb/lulv_comb_00025_000002_02.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/lambda_forces/lambda_forces_00025_000002_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy_nzeta_37/bcov_full/bcov_full_00025_000001_01.cth_like_fixed_bdy_nzeta_37.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy_nzeta_37/jxbforce_bsub_lowpass/jxbforce_bsub_lowpass_00025_000000_01.cth_like_fixed_bdy_nzeta_37.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/bcovar_fileout/bcovar_fileout_00015_000000_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/evolve/evolve_00015_000053_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/forces/forces_00015_000051_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/jxbforce_bsub_lowpass/jxbforce_bsub_lowpass_00015_000000_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/multigrid_result/multigrid_result_00051_000207_00.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/bcovar_fileout/bcovar_fileout_00025_000000_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy_nzeta_37/funct3d_geometry/funct3d_geometry_00025_000002_01.cth_like_fixed_bdy_nzeta_37.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/funct3d_geometry/funct3d_geometry_00015_000002_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/bcov_full/bcov_full_00051_000002_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/constraint_force/constraint_force_00025_000002_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/constraint_force/constraint_force_00015_000053_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/jacobian/jacobian_00015_000054_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/metric/metric_00015_000002_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/bcov_full/bcov_full_00025_000002_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/bss/bss_00025_000000_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/constraint_force/constraint_force_00025_000120_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/jacobian/jacobian_00025_000001_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/lambda_forces/lambda_forces_00025_000001_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/lulv_comb/lulv_comb_00025_000001_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/metric/metric_00025_000001_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy_nzeta_37/jacobian/jacobian_00025_000001_01.cth_like_fixed_bdy_nzeta_37.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/bcov/bcov_00051_000001_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/evolve/evolve_00015_000051_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/forces/forces_00015_000053_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/bcov/bcov_00015_000054_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/jacobian/jacobian_00025_000002_02.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/jxbout/jxbout_00051_000000_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/lulv_comb/lulv_comb_00051_000002_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/metric/metric_00025_000002_02.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/metric/metric_00051_000002_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/bcov_full/bcov_full_00025_000001_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/constraint_force/constraint_force_00025_000001_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/bcontrav/bcontrav_00051_000002_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/jacobian/jacobian_00015_000053_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/lulv_comb/lulv_comb_00015_000001_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/funct3d_geometry/funct3d_geometry_00015_000053_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/totzsp_input/totzsp_input_00051_000001_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/lulv_comb/lulv_comb_00025_000002_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy_nzeta_37/bcov/bcov_00025_000002_01.cth_like_fixed_bdy_nzeta_37.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/funct3d_geometry/funct3d_geometry_00051_000002_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy_nzeta_37/bcov_full/bcov_full_00025_000002_01.cth_like_fixed_bdy_nzeta_37.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/jacobian/jacobian_00025_000001_02.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/bcontrav/bcontrav_00025_000001_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/bcov/bcov_00015_000053_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/constraint_force/constraint_force_00015_000002_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/evolve/evolve_00051_000002_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/forceNorms_tcon/forceNorms_tcon_00051_000001_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/scalfor_out/scalfor_out_00051_000001_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/funct3d_geometry/funct3d_geometry_00025_000120_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy_nzeta_37/jacobian/jacobian_00025_000002_01.cth_like_fixed_bdy_nzeta_37.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/bcov_full/bcov_full_00051_000001_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/bcontrav/bcontrav_00025_000002_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/funct3d_geometry/funct3d_geometry_00025_000002_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/lulv_comb/lulv_comb_00015_000051_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/funct3d_geometry/funct3d_geometry_00025_000001_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/phys_gc/phys_gc_00051_000002_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/constraint_force/constraint_force_00015_000051_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/vac1n_analyt/vac1n_analyt_00015_000053_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/lambda_forces/lambda_forces_00025_000001_02.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/bcov_full/bcov_full_00025_000120_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/metric/metric_00025_000002_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy_nzeta_37/lambda_forces/lambda_forces_00025_000001_01.cth_like_fixed_bdy_nzeta_37.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy_nzeta_37/lambda_forces/lambda_forces_00025_000002_01.cth_like_fixed_bdy_nzeta_37.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy_nzeta_37/lulv_comb/lulv_comb_00025_000001_01.cth_like_fixed_bdy_nzeta_37.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/jacobian/jacobian_00051_000001_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/constraint_force/constraint_force_00051_000002_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/evolve/evolve_00025_000002_02.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/evolve/evolve_00025_000001_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/jacobian/jacobian_00025_000120_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/jxbout/jxbout_00025_000000_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy_nzeta_37/bcovar_fileout/bcovar_fileout_00025_000000_01.cth_like_fixed_bdy_nzeta_37.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy_nzeta_37/forces/forces_00025_000002_01.cth_like_fixed_bdy_nzeta_37.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/bcontrav/bcontrav_00051_000001_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/constraint_force/constraint_force_00015_000054_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/constraint_force/constraint_force_00015_000001_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy_nzeta_37/bcontrav/bcontrav_00025_000002_01.cth_like_fixed_bdy_nzeta_37.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/evolve/evolve_00015_000054_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/solovev/forces/forces_00055_000002_01.solovev.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/forces/forces_00025_000001_02.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/forces/forces_00025_000120_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy_nzeta_37/constraint_force/constraint_force_00025_000001_01.cth_like_fixed_bdy_nzeta_37.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/forces/forces_00015_000054_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/lambda_forces/lambda_forces_00015_000001_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/printout/printout_00051_000001_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/bcov/bcov_00025_000001_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/interp/interp_00051_000001_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/totzsp_input/totzsp_input_00051_000002_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy_nzeta_37/constraint_force/constraint_force_00025_000002_01.cth_like_fixed_bdy_nzeta_37.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy_nzeta_37/evolve/evolve_00025_000001_01.cth_like_fixed_bdy_nzeta_37.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/lulv_comb/lulv_comb_00015_000054_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/bcov/bcov_00051_000002_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/forces/forces_00051_000001_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/funct3d_geometry/funct3d_geometry_00025_000001_02.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/jxbforce_bsub_lowpass/jxbforce_bsub_lowpass_00051_000000_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/scalfor_out/scalfor_out_00051_000002_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/solovev/forces/forces_00055_000203_01.solovev.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/bss/bss_00051_000000_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/lambda_forces/lambda_forces_00051_000002_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/bcov/bcov_00025_000002_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/forces/forces_00025_000001_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy_nzeta_37/bcov/bcov_00025_000001_01.cth_like_fixed_bdy_nzeta_37.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/constraint_force/constraint_force_00025_000002_02.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/multigrid_result/multigrid_result_00025_000218_00.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/lambda_forces/lambda_forces_00015_000051_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/metric/metric_00015_000054_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/jacobian/jacobian_00051_000002_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/lambda_forces/lambda_forces_00025_000002_02.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/evolve/evolve_00025_000002_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy_nzeta_37/bss/bss_00025_000000_01.cth_like_fixed_bdy_nzeta_37.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/forces/forces_00015_000001_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/jxbout/jxbout_00015_000000_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/mercier/mercier_00015_000000_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/solovev/forces/forces_00055_000001_01.solovev.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/funct3d_geometry/funct3d_geometry_00051_000001_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy_nzeta_37/bcontrav/bcontrav_00025_000001_01.cth_like_fixed_bdy_nzeta_37.json filter=lfs diff=lfs merge=lfs -text
test_data/solovev_analytical/forces/forces_00031_000002_02.solovev_analytical.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/evolve/evolve_00025_000001_02.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/mercier/mercier_00025_000000_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy_nzeta_37/forces/forces_00025_000001_01.cth_like_fixed_bdy_nzeta_37.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/evolve/evolve_00015_000001_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/forces/forces_00025_000002_02.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/bcontrav/bcontrav_00025_000120_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/bcov/bcov_00025_000120_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/lambda_forces/lambda_forces_00025_000120_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy_nzeta_37/metric/metric_00025_000002_01.cth_like_fixed_bdy_nzeta_37.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/bcov/bcov_00015_000051_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/vac1n_fourp/vac1n_fourp_00015_000053_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/bcovar_fileout/bcovar_fileout_00051_000000_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/metric/metric_00051_000001_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/lambda_forces/lambda_forces_00015_000002_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/metric/metric_00015_000001_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/funct3d_geometry/funct3d_geometry_00025_000002_02.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/evolve/evolve_00051_000001_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/forces/forces_00025_000002_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/bss/bss_00015_000000_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/funct3d_geometry/funct3d_geometry_00015_000001_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/funct3d_geometry/funct3d_geometry_00015_000054_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/jacobian/jacobian_00015_000002_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/jacobian/jacobian_00015_000051_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/constraint_force/constraint_force_00025_000001_02.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/lambda_forces/lambda_forces_00015_000054_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy_nzeta_37/metric/metric_00025_000001_01.cth_like_fixed_bdy_nzeta_37.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/jacobian/jacobian_00025_000001_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/lambda_forces/lambda_forces_00051_000001_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/lulv_comb/lulv_comb_00025_000120_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy_nzeta_37/evolve/evolve_00025_000002_01.cth_like_fixed_bdy_nzeta_37.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy_nzeta_37/forceNorms_tcon/forceNorms_tcon_00025_000001_01.cth_like_fixed_bdy_nzeta_37.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy_nzeta_37/jxbout/jxbout_00025_000000_01.cth_like_fixed_bdy_nzeta_37.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy_nzeta_37/mercier/mercier_00025_000000_01.cth_like_fixed_bdy_nzeta_37.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/evolve/evolve_00015_000002_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/forces/forces_00051_000002_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/vac1n_greenf/vac1n_greenf_00015_000053_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/solovev_analytical/forces/forces_00031_000001_02.solovev_analytical.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/funct3d_geometry/funct3d_geometry_00015_000051_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/lulv_comb/lulv_comb_00025_000001_02.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/lulv_comb/lulv_comb_00051_000001_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/jacobian/jacobian_00025_000002_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/jxbforce_bsub_lowpass/jxbforce_bsub_lowpass_00025_000000_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy_nzeta_37/lulv_comb/lulv_comb_00025_000002_01.cth_like_fixed_bdy_nzeta_37.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/bcov/bcov_00015_000001_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/lulv_comb/lulv_comb_00015_000053_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/constraint_force/constraint_force_00051_000001_01.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/metric/metric_00015_000051_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/metric/metric_00025_000001_02.cma.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_fixed_bdy/forceNorms_tcon/forceNorms_tcon_00025_000001_01.cth_like_fixed_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/bcov/bcov_00015_000002_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/lambda_forces/lambda_forces_00015_000053_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/lulv_comb/lulv_comb_00015_000002_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/metric/metric_00015_000053_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cth_like_free_bdy/vac1n_fouri/vac1n_fouri_00015_000053_01.cth_like_free_bdy.json filter=lfs diff=lfs merge=lfs -text
test_data/cma/mercier/mercier_00051_000000_01.cma.json filter=lfs diff=lfs merge=lfs -text
